.App {
    text-align: center;
}

.layout {
    background-color: #FEF9EE;
    height: 280vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.svg-container {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.bg-svg {
    width: 100px;
}

svg path {
    transition: 0.1s;
}

.star-background {
    position: absolute;
    z-index: 2;
}

.introText {
    position: absolute;
    height: 100vh;
    z-index: 2;
}

.headHunter {
    height: 250px;
    z-index: 2;
}

.topSpace {
    height: 90vh;
}

.anchor {
    height: 10vh;
}