html {
    scroll-behavior: smooth;
}

.App {
    text-align: center;
}

.root {
    overflow: hidden
}

.mobile-curve {
    position: absolute;
    z-index: 2;
}

.layout {
    background-color: #FEF9EE;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 1279px) {
    .mobile-curve {
        position: absolute;
        z-index: 2;
        height: 90vh;
        width: 100vw;
        background: #605F5D;
    }
}

.svg-container {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.bg-svg {
    width: 100px;
}

svg path {
    transition: 0.1s;
}

.star-background {
    position: absolute;
    z-index: 2;
}

.introText {
    position: absolute;
    height: 100vh;
    z-index: 2;
}

.topSpace {
    height: 90vh;
}

.anchor {
    height: 5vw;
    background-color: #FEF9EE;
}

.bubble {
    border-radius: 72% 28% 70% 30% / 37% 25% 75% 63%;
    background: #00C9A9;
    animation: bubbles 6s linear 6s infinite alternate;
    animation-delay: -2s;
    padding: "4em",
}

@keyframes bubbles {
    0% {
        border-radius: 72% 28% 70% 30% / 37% 25% 75% 63%;
    }
    25% {
        border-radius: 77% 23% 13% 87% / 27% 14% 86% 73%;
        padding: "4em 2em",
    }
    50% {
        border-radius: 45% 55% 68% 32% / 74% 66% 34% 26%;
    }
    100% {
        border-radius: 77% 23% 84% 16% / 30% 22% 78% 70%;
    }
}